<% posts.each do |post_image| %>
  <%= link_to post_path(post_image) do %>
    <div class="clearfix border p-3 border-info">
      <div class="float-none mb-2">
        <%= image_tag post_image.get_post_image(200,200), class: "img-fluid" %>
      </div>
      <div class= "text-center">
        <%= post_image.title %>
      </div>
        <%= link_to tag_tag_relations_path(tag) do %>
          <i class= "fas fa-tag"><%= post_image.tags.map(&:name).join(",") %></i>
        <% end %>
    </div>
  <% end %>
<% end %>
