<div class= "container">
  <div class= "row">
    <div class= "mx-auto">
      <h2>投稿編集</h2>
      <%= render "layouts/errors", model: @post %>
      <%= form_with model: @post, local: true do |f| %>

        <div class="form-group">
          <%= f.label :post_image, "写真投稿" %>
          <%= f.file_field :post_image %>
        </div>

        <div class="form-group">
          <%= f.label :title, "題名" %>
          <%= f.text_field :title, placeholder: "今年の初雪" %>
        </div>

        <div class="form-group">
          <%= f.label :body, "説明文" %>
          <%= f.text_area :body, placeholder: "写真のポイント、季節、こだわりの点" %>
        </div>

        <div class="form-group">
          <%= f.label :location, "場所" %>
          <%= f.text_field :location, placeholder: "地名・建造物名" %>
        </div>

        <div class= "form_group">
          <%= f.label "タグ登録(複数のタグを登録する際は半角スペースで区切ってください)" %>
          <%= f.text_field :name, value: @tag_list, class: "form-control" %>
        </div>

　　　　<div class="form-group">
          <%= f.submit "編集完了", class: "btn btn-success btn-block" %>
        </div>
      <% end %>

    </div>
  </div>
</div>