<div class= "container">
  <div class= "row">
    <h2>新規投稿</h2>
  </div>

  <div class= "row">
    <div class= "mx-auto">
      <%= form_with model: @post do |f| %>
        <div class="form-group">
          <%= f.label :post_image, "写真投稿" %>
          <%= f.file_field :post_image %>
        </div>

        <div class="form-group">
          <%= f.label :title, "題名" %>
          <%= f.text_field :title, placeholder: "今年の初雪" %>
        </div>

        <div class="form-group">
          <%= f.label :body, "説明文" %>
          <%= f.text_area :body, placeholder: "写真のポイント、季節、こだわりの点" %>
        </div>

        <div class="form-group">
          <%= f.label :location, "場所" %>
          <%= f.text_field :location, placeholder: "地名・建造物名" %>
        </div>

        <!-- タグのselectフォームを追加する　-->

　　　　<div class="form-group">
          <%= f.submit "投稿する", class: "btn btn-success btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>