<div class= "d-flex justify-content-center h-100">
  <div class= "card">
    <div class= "card-header">
      <h2>新規登録</h2>
    </div>

    <div class= "card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name",placeholder: "ニックネーム", class: "form-control", size: "60" %>
        </div>

        <div class="form-group">
          <%= f.label :like, "好きな雰囲気・写真" %>
          <%= f.text_field :like, autocomplete: "like",placeholder: "空欄可", class: "form-control", size: "60" %>
        </div>

        <div class="form-group">
          <%= f.label :introduction, "自己紹介" %>
          <%= f.text_area :introduction, autocomplete: "introduction",placeholder: "空欄可", class: "form-control", size: "60x5" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class: "form-control", size: "60" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "form-control", size: "60" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認", class: "form-control", size: "60" %>
        </div>

        <div class="form-group">
          <%= f.submit "新規登録", class: "btn btn-success btn-block mt-3" %>
        </div>
      <% end %>

      <div class= "text-center">
        <%= render "public/shared/links" %>
        <%= link_to "ゲストとしてログイン", guest_path, method: :post %>
      </div>
    </div>
  </div>
</div>