<div class='login-flash-message'>
  <%= flash[:notice] %>
  <%= flash[:alert] %>
</div>

<div class= "d-flex justify-content-center h-100">
  <div class= "card">
    <div class= "card-header">
      <h2>ログイン</h2>
    </div>

    <div class= "card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <i class= "fas fa-user"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control", size: "60" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
           <i class = "fas fa-key"></i>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-control", size: "60"  %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-check">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end %>

        <div class="form-group mt-3">
          <%= f.submit "ログイン", class: "btn btn-success btn-block" %>
        </div>
      <% end %>

      <div class= "text-center">
       <%= render "public/shared/links" %>
       <%= link_to "ゲストとしてログイン", guest_path, method: :post %>
      </div>

    </div>
  </div>
</div>