<!--プロフィール画像-->
<div class= "col-auto mr-5">
  <%= image_tag user.get_profile_image(300,300), class: "img-fluid" %>
</div>
<!--プロフィール本文-->
<div class= "col-auto">
  <table class= "table">
    <tr>
      <th>名前</th>
      <td> <%= user.name %></td>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>好きな風景</th>
      <td><%= user.like %></td>
    </tr>
    <tr>
      <th>ブックマーク</th>
      <td>
        <%= link_to my_list_user_path(user) do %>
          <%= user.favorites.count %>件
        <% end %>
      </td>
    </tr>
    <tr>
      <th>コメント回数</th>
      <td>
        <%= user.comments.count %>件
      </td>
    </tr>
  </table>
  <% if user == current_user %>
    <%= link_to "編集する", edit_user_path(current_user), class: "btn btn-success btn-block" %>
    <%= link_to "退会する", withdrawal_path, class: "btn btn-danger btn-block" %>
  <% end %>
</div>
