<!--論理削除用記述-->
<% if @user.is_deleted == false %>
  <div class= "row">
    <h2><%= @user.name %>さんのプロフィール</h2>
  </div>
  <div class= "row">
    <%= render "public/users/info", user: @user %>
  </div>

  <div class= "row mt-5">
    <h2><%= @user.name %>さんの投稿</h2>
  </div>
    <!-- このユーザーの投稿一覧-->
  <div class= "row mt-5">
    <%= render "public/posts/user", user: @user, posts: @post %>
  </div>

  <div class= "d-flex justify-content-center">
    <%= paginate @post %>
  </div>
<% else %>
  <div class= "text-center">
    <h1>このユーザーは退会済みです</h1>
  </div>
<% end %>