<!DOCTYPE html>
<html>
  <head>
    <title>DOKO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <!--後でナビバーを差し込む-->
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <div>ようこそ、<%= current_user.name %>さん！</div>
        <li><%= link_to "マイページ", my_page_path %></li>
        <li><%= link_to "投稿一覧", posts_path %></li>
        <li><%= link_to "ユーザー一覧", users_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% elsif admin_signed_in? %>
        <li><%= link_to "ユーザー一覧", admin_users_path %></li>
        <li><%= link_to "投稿一覧", admin_posts_path %></li>
        <li><%= link_to "コメント一覧", admin_comments_path %></li>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "アバウト", about_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
      <% end %>
    </ul>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <p style="color: #fff; text-align: center;">CopyRight KURO</p>
        </div>
      </div>
    </div>
  </footer>

</html>
